.App {
  text-align: center;
}

.App-logo {
  width: 100px;
}

.App-header {
  background-color: #f1f1f1;
  height: 100px;
  color: white;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-align-content-start {
  align-content: flex-start;
}

.flex-align-content-end {
  align-content: flex-end;
}

.flex-align-content-center {
  align-content: center;
}

.flex-align-content-space-around {
  align-content: space-around;
}

.flex-align-content-space-between {
  align-content: space-between;
}

.flex-justify-content-space-around {
  justify-content: space-around;
}

.flex-justify-content-space-between {
  justify-content: space-between;
}

.flex-align-items-start {
  align-items: flex-start;
}

.flex-align-items-end {
  align-items: flex-end;
}

.flex-align-items-center {
  align-items: center;
}

.App-title {
  font-size: 9.5em;
}

.pad-30 {
  padding: 30px;
}

.margin-10-l {
  margin-left: 10px;
}
